<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <queries>
        <package android:name="com.google.android.apps.nbu.paisa.user" />
    </queries>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgroWorld"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.project.agroworldapp.chatbot.ChatBotActivity"
            android:exported="false" />
        <activity
            android:name="com.project.agroworldapp.articles.activity.DiseasesDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.project.agroworldapp.payment.activities.PaymentHistoryActivity"
            android:exported="false" />
        <activity
            android:name="com.project.agroworldapp.payment.activities.PaymentDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.project.agroworldapp.taskmanager.activity.AddTaskActivity"
            android:exported="false" />
        <activity
            android:name="com.project.agroworldapp.articles.activity.HowToExpandActivity"
            android:exported="false" />
        <activity
            android:name="com.project.agroworldapp.manufacture.activity.ManufactureDataActivity"
            android:exported="false" />
        <activity
            android:name="com.project.agroworldapp.transport.activity.TransportDataActivity"
            android:exported="false" />
        <activity
            android:name="com.project.agroworldapp.articles.activity.ArticleDetailsActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name="com.project.agroworldapp.weather.activity.WeatherForecastActivity"
            android:exported="false" />
        <activity android:name="com.project.agroworldapp.shopping.activity.AddToCartActivity" />
        <activity
            android:name="com.project.agroworldapp.articles.activity.DiseasesActivity"
            android:exported="false" />
        <activity
            android:name="com.project.agroworldapp.articles.activity.FlowersActivity"
            android:exported="false" />
        <activity
            android:name="com.project.agroworldapp.articles.activity.FruitsActivity"
            android:exported="false" />
        <activity
            android:name="com.project.agroworldapp.articles.activity.CropsActivity"
            android:exported="false" />
        <activity
            android:name="com.project.agroworldapp.shopping.activity.ProductDetailActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.project.agroworldapp.manufacture.activity.ManufactureActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.project.agroworldapp.transport.activity.TransportActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.project.agroworldapp.ui.activity.UserProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.project.agroworldapp.weather.activity.WeatherActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.project.agroworldapp.ui.activity.SignUpActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.project.agroworldapp.ui.activity.DashboardActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.project.agroworldapp.ui.activity.LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.project.agroworldapp.ui.activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <receiver
            android:name="com.project.agroworldapp.taskmanager.receiver.SnoozeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.agroworld.SnoozeReceiver" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.project.agroworldapp.taskmanager.receiver.EventReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.project.agroworldapp" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>