<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <queries>
        <package android:name="com.google.android.apps.nbu.paisa.user" />
    </queries>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgroWorld"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".chatbot.ChatBotActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".articles.activity.DiseasesDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment.activities.PaymentHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment.activities.PaymentDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".taskmanager.activity.AddTaskActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".articles.activity.HowToExpandActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manufacture.activity.ManufactureDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transport.activity.TransportDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".articles.activity.ArticleDetailsActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".weather.activity.WeatherForecastActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopping.activity.AddToCartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".articles.activity.DiseasesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".articles.activity.FlowersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".articles.activity.FruitsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".articles.activity.CropsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopping.activity.ProductDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".manufacture.activity.ManufactureActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".transport.activity.TransportActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.UserProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".weather.activity.WeatherActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.SignInActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <receiver
            android:name=".taskmanager.receiver.SnoozeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.agroworld.SnoozeReceiver" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".taskmanager.receiver.EventReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.project.agroworld" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>